<p>
Add Vehicles
</p>

<button mat-raised-button color="primary">+ Add Vehicle</button>

<p>
  <mat-form-field appearance="legacy">
    <mat-label>Model</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-hint>Toyota, Mazda etc.</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Make</mat-label>
    <input matInput placeholder="Placeholder">
       <mat-hint>Hilux, Ranger etc. </mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Year</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Body</mat-label>
    <input matInput placeholder="Placeholder">
  <mat-hint>Sedan, coupe etc. </mat-hint>
  </mat-form-field>
</p>