<p>
You will be able to store the details of your licence here.
</p>

<button mat-raised-button color="primary">+ Add licence</button>

<p>
  <mat-form-field appearance="legacy">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label>Phone No.</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <mat-label>Licence Class</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>
</p>



