<!DOCTYPE html>
<html>

<p>
Edit Licences here 
</p>

<label for="cars">Choose a Licence: </label>
<!----LICENCE SELECTOR---->
<select name="car" id="cars">
  <option value="Licence 1">Licence 1</option>
  <option value="Licence 2">Licence 2</option>
  <option value="Licence 3 ">Licence 3</option>
  <option value="Licence 4">Licence 4</option>
</select>
<button class="licenceselector" onclick="letsdothis()">Edit Licence</button>
<p id="carsthemovie"></p>
<script>
 function letsdothis() {
  var x = document.getElementById("cars").length;
  document.getElementById("carsthemovie").innerHTML = x;

  display(placeholder.jpg)

document.getElementById(placeholder1.jpg)

}
</script>



