<p>
Edit Vehicles
</p>

<button mat-raised-button color="primary">+ Edit Vehicle</button>

<p>
  <mat-form-field appearance="legacy">
    <mat-label>Model</mat-label>
    <input matInput placeholder="">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Make</mat-label>
    <input matInput placeholder="">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Year</mat-label>
    <input matInput placeholder="">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Body</mat-label>
    <input matInput placeholder="">
  </mat-form-field>
</p>